#Navigation {
    background-color: #000000;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
}
#h1 {
    color: white;
}
a {
    color: #AAAAAA; 
}
#introduction {
    background-color: coral;
}
#What-is-it {
    background-color: #00FFFF;
}
#Combat {
    background-color: #6A5ACD;
}
#Testimony {
    background-color: #FFFF00;
}
#conclusion {
    background-color: #FFACD0;
}
